@import "./variables";

.navbarBack {
  background: $nav-bg-1;
  background: $nav-bg-2;
}

.textFont {
  font-family: "Public Sans", sans-serif;
  font-weight: bold;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: $text-color;
  font-weight: bold;
}

#profileDrop {
  color: $text-color;
  font-weight: bold;
}
